{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "mpass",
  "copy": true,
  "targets": {
    "mpass": {
      "author": "",
      "time": "2019/10/10 20:46:36",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.190926111308",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.190924194557",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.190712115057",
          "APRemoteLogging": "1.0.0.190924194557",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "AutoTracker": "1.0.0.190909104429",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.190603103544",
          "MPDataCenter": "1.0.0.190917163242",
          "APCrashReporter": "1.0.0.190911163314"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.190909101115",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.190619161346"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.190917192001",
          "APLog": "3.0.2.190701174234",
          "APProtocolBuffers": "1.0.1.190906170603",
          "mPaas": "1.0.0.190905114645",
          "MPDataCenter": "1.0.0.190917163242",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.190619161346"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.190906205306",
          "APMobileFramework": "1.0.0.190926111308",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234",
          "APRemoteLogging": "1.0.0.190924194557",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190906170603",
          "APWebImage": "1.0.0.190906190219",
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "NebulaSecurity": "1.0.0.190906170603",
          "APMobileNetwork": "1.0.0.190909101115",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.190226125531",
          "Nebula": "1.0.0.190906170603",
          "NebulaSDK": "1.0.0.190906170603",
          "NebulaPoseidon": "1.3.0.190906170603",
          "NebulaAppManager": "1.3.0.190917193237",
          "NebulaKernel": "1.0.0.190906170603",
          "TinyAppCommon": "1.0.0.190916210758",
          "SocketCraft": "1.0.0.190906170603",
          "NebulaTinyapp": "1.0.0.190906170603",
          "NebulaLogging": "1.0.0.190906204110",
          "AutoTracker": "1.0.0.190909104429",
          "NebulaConfig": "1.0.0.190906170603",
          "APConfig": "1.0.0.190906154353",
          "APLongLinkService": "1.0.0.190917192001",
          "MPDataCenter": "1.0.0.190917163242",
          "NebulaAppBiz": "1.0.0.190906173518",
          "MASSProxy": "1.0.0.190906170603",
          "MASSChannel": "1.0.0.190906170603",
          "MPNebulaAdapter": "1.0.0.190926102435",
          "NebulamPaaSBiz": "1.0.0.190906170603",
          "MPMpaaSService": "1.0.0.190906163300",
          "NebulaHeader": "1.0.0.190624195416",
          "MPMasAdapter": "1.0.0.190712115057",
          "MPPerformance": "1.0.0.190911163314",
          "TianYan": "1.0.0.190603103544",
          "APCrashReporter": "1.0.0.190911163314",
          "MPMgsAdapter": "1.0.0.190619161346",
          "MPMssAdapter": "1.0.0.190619161346",
          "AntUIShellForMpass": "1.0.0.190917175635",
          "MPBadgeService": "1.0.0.190909104525",
          "NebulaNetwork": "1.0.0.190906173518"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190917175635",
          "AntUI": "1.0.0.190906150048",
          "AntUIShellForMpass": "1.0.0.190917175635",
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.190909104525",
          "MPDataCenter": "1.0.0.190917163242",
          "mPaas": "1.0.0.190905114645",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        }
      },
      "baseline": "10.1.60",
      "frameworks": [
        "APLog.framework",
        "APMobileFramework.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "MPMasAdapter.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "APLongLinkService.framework",
        "MPMssAdapter.framework",
        "NebulaBiz.framework",
        "APWebImage.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "NebulaSecurity.framework",
        "Nebula.framework",
        "NebulaSDK.framework",
        "NebulaPoseidon.framework",
        "NebulaAppManager.framework",
        "NebulaKernel.framework",
        "TinyAppCommon.framework",
        "SocketCraft.framework",
        "NebulaTinyapp.framework",
        "NebulaLogging.framework",
        "NebulaConfig.framework",
        "APConfig.framework",
        "NebulaAppBiz.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "NebulaNetwork.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle",
        "APMobileNetwork.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "APCommonUI.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "TinyAppCommon.bundle",
        "NebulaTinyapp.bundle",
        "NebulaLogging.bundle",
        "NebulaConfig.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "mpass"
}